body{
  text-align: center;
  margin: 0;
  background: url(./images/space.jpg);
  color: white;
}

h1, h2{
  text-align: center;
  color: white;
}

.card{
margin-top: 1em;
margin-bottom: 1em;
border: none;
background-color: black;
}

.cardHeader{
  background-color:rgb(40, 40, 40);
  color: white;
  text-align: center;
  border-top-right-radius: 0.2em;
  border-top-left-radius: 0.2em;
}

.cardBody{
justify-content: center;
  background-color: rgb(54, 54, 54);
  color: white;
  display: flex;
  flex-direction: column;
  padding:0.5em;
}

.cardRow{
  text-align: center;
}

.buttonWrapper{
  text-align: center;
  padding: 0.5em;
  background-color:rgb(40,40,40);
  border-bottom-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}

li{
  list-style:none;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited{
  color: white;
}

a:hover{
  color: red;
  text-decoration: underline;
}
